@import url("https://font.gogglecaps.com/css?family-Open+Sans:400,500% display-swap");
*{
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    margin: 0;
}